<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" bootstrap="vendor/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <report>
      <html outputDirectory="./codeCoverage"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Feature Tests">
      <directory suffix="Test.php">./tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="test_server" value="127.0.0.1"/>
    <env name="test_username" value="root"/>
    <env name="test_password" value="adminrootkl"/>
    <env name="test_database_name" value="testmokuyu"/>
    <env name="test_port" value="3306"/>
    <env name="test_prefix" value="kl_"/>
  </php>
  <logging/>
</phpunit>
