<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false" backupStaticAttributes="false" bootstrap="vendor/autoload.php" colors="true"
         convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true"
         processIsolation="false" stopOnFailure="false">
    <testsuites>
        <testsuite name="Feature Tests">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <php>
        <env name="server" value="127.0.0.1"/>
        <env name="username" value="root"/>
        <env name="password" value="adminrootkl"/>
        <env name="database_name" value="testmokuyu"/>
        <env name="port" value="3306"/>
        <env name="prefix" value="kl_"/>
    </php>
    <logging>
        <log type="coverage-html" target="./codeCoverage" charset="UTF-8"/>
    </logging>
</phpunit>